.container{
    height: 100vh;
    background-color: #f5f5f5;
}

.heading{
    font-size: 2rem;
    width: 69%;
    color: #fff;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding: 0;
    background-color: #000;
    padding: 1rem;
    border-radius: 15px;
}